.login-form {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .separator {
    border: 0.5px solid #ccc;
  }

  .extra-text {
    margin-bottom: 0;
  }
  
  /* You can add more styles to enhance the visual appeal */
  