.button {
    height: 40px;
    margin-right: 10px;
};

.table-cell {
    padding: 8px;
}

.view-button {
    width: 60px;
    font-size: 12px;
    height: 30px;
}

.download-button {
    width: 60px;
    font-size: 12px;
    height: 30px;
}